.title {
    color: khaki;
}

 body {
   background-color: lightslategrey;
}

 p {
   color: yellow;
     }
 p1 {
    color: green;
    }
  p2 {
      color:orangered
     }       
p3  {
      color:lightgray
}
p4   {
    color:coral
    }

   
    

</style>